@import './styles/alerts';

.App {
  min-height: 100vh;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(39,39,99,0.9836309523809523) 35%, rgba(0,212,255,1) 100%);
  background-size: 100% auto;
}

.col {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bookCard {
  width: 20rem;
  margin: 10px;
  .add_cart_btn {
    opacity: 0;
    outline: none;
  }
}

.bookCard:hover {
  .add_cart_btn {
    opacity: 1;
    outline: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  h2{
    color: lightgreen;
    font-weight: 700;
  }
}

.cart_icon {
  font-size: xxx-large;
  color: white;
}

.main {
  display: flex;
  margin: 1rem;
}

.add_cart_btn{
  margin: 1rem;
}

.bookImage {
  margin: 1rem 0 0 1rem;
}

